.form{
    font-family: sans-serif;
    font-size: medium;
    text-align: justify;
}

    fieldset{
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
}

    legend{
    font-weight: bold;
}

.botao_enviar{
    justify-content: center;
    align-items: center;
    background-color: blue;
}